$background: #052573;
$foreground: #F4ECFF;

$inside-background: #126BAC;
$icon-normal: #00A6F4;
$icon-activated: #00D8CE;

$battery-charged: #00FFFF;
$battery-low-level: #FCA035;
$battery-uncharged: $background;

$wifi: #FFFDE2;

$light: #FCB35F;

$volume: #75B9FE;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;
