$background: #35141D;
$foreground: #EFE7F5;

$inside-background: #724140;
$icon-normal: #FCA035;
$icon-activated: #EA5B23;

$battery-charged: #FEEAE2;
$battery-low-level: #FCA035;
$battery-uncharged: $background;

$wifi: #FFFDE2;

$light: #FCB35F;

$volume: #75B9FE;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;
